    <mat-card>
      <H1 style="text-align:center;">TAXI Online Payment Bill</H1><br>
      <br><br><br>

      <mat-card style="text-align:center;" *ngFor="let user of OnlinePay">
       <div >
        <h3  *ngIf="OnlinePay[num-1].id == user.id">
            บิล ID: {{user.id}}&nbsp;&nbsp;&nbsp;<br>
        ชื่อลูกค้า: {{user.member.name}}&nbsp;&nbsp;&nbsp;<br>
        ชื่อพนักงาน {{user.driver.name}}&nbsp;&nbsp;&nbsp;<br>
        ระยะทาง {{user.distance}}&nbsp;&nbsp;&nbsp;<br>
        ชื่อธนาคาร {{user.bank.name}}&nbsp;&nbsp;&nbsp;<br>
        ราคา {{user.moneypay}}&nbsp;&nbsp;&nbsp;<br>
        หมายเลขรถ {{user.driver.carType.name}}&nbsp;&nbsp;&nbsp;<br>
        </h3></div>
        </mat-card>

        

        <H3 style="text-align:center;">ขอบคุณ<br>&nbsp;&nbsp;Thank You</H3>
        
       
      <h5 style="text-align:center;">
          <input type="button" value="Print" onClick="window.print()"><br><br>
        </h5>
      
   
    <br><br>
    <h3 align="center"> <input type="button" [routerLink]="['/onlinepay']"
       routerLinkActive="onlinepay" value="ย้อนกลับ" ></h3>
      </mat-card>