<mat-toolbar>My App</mat-toolbar>
<mat-radio-group >
  <mat-radio-button (click)="setDriver('true')" value='true'>Option 1</mat-radio-button>
  <mat-radio-button (click)="setDriver('false')" value='false'>Option 2</mat-radio-button>
</mat-radio-group>
<br>
<br>
<mat-form-field class="example-full-width">
    <textarea matInput placeholder="Comment" [(ngModel)]='comment' [ngModelOptions]="{standalone: true}"></textarea>
</mat-form-field>
<br>
<mat-form-field>
  <mat-select >
    <mat-option *ngFor="let user of Drivers" [value]="user.firstName"
    (click)="saveDriver(user.id)">
      {{user.firstName}}
    </mat-option>
  </mat-select>
</mat-form-field>
<br>

<button (click)="testSave()">summit!!</button>