
<mat-card class="card1">
  <br>
  <h4 style="text-align:center"><b>ชำระเงินออนไลน์</b></h4>
  <form class="example-form" style="text-align:center">
  
  
    
    
      {{Member.member.name}}
    <br>
   
    <mat-form-field>
      <mat-select  placeholder="เลือกชื่อพนักงานขับรถ"  >
        <mat-option (click)="savedriver(user.id)" *ngFor="let user of Driver" [(value)]="user.name">
          {{user.name}}
        </mat-option>
      </mat-select>
    </mat-form-field><br>
    {{level2}}<br>


    <mat-form-field class="example-full-width">
      <input matInput placeholder="กรอกระยะทาง (Km.)" [(ngModel)]='distance' [ngModelOptions]="{standalone: true}">
    </mat-form-field><br>

    
  </form>
   <!-- ส่วนของหน้าจ่ายเงิน -->
   <!-- <mat-card class="card1"> -->
      
      <h4 style="text-align:center">จ่ายเงิน  <button class="btn" (click)="setShow()">PAY</button></h4>
        <div *ngIf="isShow">
          
          <h4 style="text-align:center"><b>ธุรกรรมการเงิน</b></h4>
          <form class="example-form" style="text-align:center">
        
           
            <mat-form-field>
              <mat-select  placeholder="เลือกธนาคาร"  >
                <mat-option (click)="save_bank(user.id)" *ngFor="let user of Bank" [(value)]="user.name">
                  {{user.name}}
                </mat-option>
              </mat-select>
            </mat-form-field><br>
            {{level2}}<br>
            คำนวณค่าโดยสาร
        
            {{distance*3}}<br>
        
            <mat-form-field class="example-full-width">
              <input matInput placeholder="กรอกจำนวนเงิน" [(ngModel)]='moneypay' [ngModelOptions]="{standalone: true}">
            </mat-form-field><br>
        
           
              
            <input type="button" onclick="window.location='onlinepay'"  value="Back">&nbsp;
        
            <input type="button"  (click)="save()" value="CONFIRM">
        
          </form>
        
        
        </div>
      </mat-card><br>
      <!-- สิ้นสุดส่วนหน้าจ่ายเงิน -->

    <!-- <input type="button" onclick="window.location='transection'" (click)="save()" value="PAY NOW"> -->

 

<!-- </mat-card> -->
