<mat-toolbar>สมัครคนขับ</mat-toolbar>
<form class="example-form">
  <mat-form-field class="example-full-width">
    <input matInput placeholder="ชื่อ-นามสกุล" [(ngModel)]='name' [ngModelOptions]="{standalone: true}">
  </mat-form-field>
  <br>
  <mat-form-field>
    <mat-select  placeholder="เลื่อกเพศ"  >
      <mat-option (click)="savegender(user.id)" *ngFor="let user of Gender" [(value)]="user.sex">
        {{user.sex}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <br>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="ที่อยู่" [(ngModel)]='address' [ngModelOptions]="{standalone: true}">
  </mat-form-field>
  <br>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="เบอร์โทรศัพท์" [(ngModel)]='tel' [ngModelOptions]="{standalone: true}">
  </mat-form-field>
  <br>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="E-mail" [(ngModel)]='email' [ngModelOptions]="{standalone: true}">
  </mat-form-field>
  <br>
  <mat-form-field>
    <mat-select  placeholder="เลื่อกประเภทรถ"  >
      <mat-option (click)="savecartype(user.id)" *ngFor="let user of CarType" [(value)]="user.name">
        {{user.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <br>
  <mat-form-field>
    <mat-select  placeholder="เลื่อกจังหวัด"  >
      <mat-option (click)="saveprovince(user.id)" *ngFor="let user of Province" [(value)]="user.name">
        {{user.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</form>
<button (click)="save()">บันทึก</button>
<button onclick="window.location='login'">ยกเลิก</button>


