<mat-card>
  <mat-toolbar color="primary">
      Menu Driver
  </mat-toolbar>
  <br>
      <div align="center" style="min-height: 50px">
        <button mat-raised-button color="primary" routerLink="/emergency">Emergency</button>
      </div>        
      <div align="center" style="min-height: 50px">
        <button mat-raised-button color="primary" routerLink="/cashpay">CashPay</button>
      </div>                      

      <div align="center" style="min-height: 50px">
        <button mat-raised-button color="primary" routerLink="/salary">salary</button>
      </div>
      <div align="center" style="min-height: 50px">
        <button mat-raised-button color="primary" routerLink="/discount">ลดราคา</button>
      </div>
      <div align="center" style="min-height: 50px">
        <button mat-raised-button color="primary" routerLink="/salaryshow">รายละเอียดการจ่ายเงินเดือน</button>
      </div>

</mat-card>