<mat-toolbar>คำร้องเรียน</mat-toolbar>

<mat-accordion  *ngFor="let user of Complain" >
  
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false"
  
                        >
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{user.member.name}}
        </mat-panel-title>
        <mat-panel-description>
          Currently I am {{panelOpenState ? 'open' : 'closed'}}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p >ชื่อ : {{user.member.name}}</p>
      <p>คำร้องเรียน : {{user.message}}</p>
      <p *ngIf="user.driver != null">ชื่อคนขับรถ : {{user.driver.name}}</p>
      <p *ngIf="user.driverTaxi != null">ชื่อคนขับรถTaxi : {{user.driverTaxi.name}}</p>
      <h5 style="text-align:center;">
        
      </h5>
    </mat-expansion-panel>
    <br>
  </mat-accordion>
  <button mat-raised-button onclick="window.location='menu'">กลับ</button>