<!--
  <p>
  callcar works!
</p>
-->
<mat-card>

  <mat-toolbar color="primary">
      Call Car App
  </mat-toolbar>
  <h2>
    <div align="center">
      You are going to 
      <mat-form-field>
        <input matInput placeholder="Destination">
      </mat-form-field>
    </div>  
    <div align="center">
      From
      <mat-form-field>
        <input matInput placeholder="Current Location">
      </mat-form-field>
    </div>
    <div align="center">
      By
      <mat-form-field>
          <input matInput placeholder="Car Type">
      </mat-form-field>
    </div>
    <div align="center">
      With
      <mat-form-field>
          <input matInput placeholder="Driver">
      </mat-form-field>
    </div>
  </h2>
  <br>
  <mat-divider></mat-divider>
  <h1>
    <div align="center" style="min-height: 50px">
      Bon Voyage !
    </div>
  </h1>
  <h4>
  <br><br>
    <div align="center" style="min-height: 300px">
      <button mat-raised-button color="primary" routerLink="/callcar">Close</button>
    </div>
  </h4>
</mat-card>

