<mat-card>
  <mat-toolbar color="primary">
      Call Car App
  </mat-toolbar>
  <h2>
    <div align="center">
      Where do you want to go?
    </div>
  </h2>
  <h4>
    <div align="center">
      <mat-form-field>
        <input matInput maxlength="15" placeholder="Destination" [(ngModel)]='Dest' [ngModelOptions]="{standalone: true}">
      </mat-form-field>
    </div>
    <div align="center">
      <mat-form-field>
        <input matInput maxlength="15" placeholder="Current Location" [(ngModel)]='Cur' [ngModelOptions]="{standalone: true}">
      </mat-form-field>
    </div>
    <div align="center">
      <mat-form-field>
        <mat-select placeholder="Car Type">
          <mat-option (click)="savecartype(user.id)" *ngFor="let user of CarType" [(value)]="user.name">
            {{user.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div align="center">
      <mat-form-field>
        <mat-select placeholder="Driver">
          <mat-option (click)="savedriver(user.id)" *ngFor="let user of Driver" [(value)]="user.name">
            {{user.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </h4>
  <h2>
      <div *ngIf="hidenull" align="center">
          Please Fill in the Blanks!
      </div>
      <div *ngIf="hideplace" align="center">
          Destination cannot be same place as where you are!
      </div>
      <div *ngIf="hideplaceshrt" align="center">
          Destination or CurrentLoc is at less 10 character!
      </div>
  </h2>
  <br>
  <mat-divider></mat-divider>
  <h4>
  <br><br>
    <div align="center" style="min-height: 300px">
      <button mat-raised-button color="primary" (click)="save()">Confirm</button>
      <button mat-raised-button color="primary" routerLink="/menu">Cancel</button>
    </div>   
  </h4>
</mat-card>

