<mat-card>
    <mat-toolbar color="primary">
        Login Driver
    </mat-toolbar>
<form class="example-form">
    <div align="center">
  <mat-form-field class="example-full-width">
    <textarea matInput placeholder="Username" [(ngModel)]='username' [ngModelOptions]="{standalone: true}"></textarea>
  </mat-form-field>
  </div>
  <div align="center">
  <mat-form-field class="example-full-width">
    <textarea matInput placeholder="Password" [(ngModel)]='password' [ngModelOptions]="{standalone: true}"></textarea>
  </mat-form-field>
  </div>
</form>
<br>
<div align="center" style="min-height: 50px">
<button mat-raised-button color="primary" (click)="save()">Log In</button>
</div>
</mat-card>