<mat-card>
    <mat-toolbar color="primary">
        Menu
    </mat-toolbar>
    <br>
    <div align="center" style="min-height: 50px">
        <button mat-raised-button color="primary" routerLink="/member">สมัครสมาชิก</button>
        </div>
        <br>
        <div align="center" style="min-height: 50px">
            <button mat-raised-button color="primary" routerLink="/driver">สมัครคนขับ</button>
            </div>
            <br>
            <div align="center" style="min-height: 50px">
                <button mat-raised-button color="primary" routerLink="/callcar">เรียกรถ</button>
                </div>
                <br>
                <div align="center" style="min-height: 50px">
                    <button mat-raised-button color="primary" routerLink="/onlinepay">ชำระเงินออนไลน์</button>
                    </div>
                    <br>
                    <div align="center" style="min-height: 50px">
                        <button mat-raised-button color="primary" routerLink="/complain">ร้องเรียน</button>
                        </div>
                        <br>
                        <div align="center" style="min-height: 50px">
                            <button mat-raised-button color="primary">ลดราคา</button>
                            </div>
                            <br>
                            <div align="center" style="min-height: 500px">
                                <button mat-raised-button color="primary" routerLink="/cashpay">ชำระเงินสด</button>
                                </div>
                                <br>
                                
</mat-card>